/* main styles */

* {
    box-sizing: border-box;
}

.wrapper-all {
	background: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #669999;
}

/* header styles */
.header {

}
/* top header styles */
.top-header {
	background: #f1f4f8;
}

.center {
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.top-header .center {
	/* padding-top: 5px;
	padding-bottom: 5px; */
	display: table;
}

.welcome-text-wrap {
	display: table-cell;
	vertical-align: middle;
}

.welcome-text {
	text-transform: uppercase;
}

.welcome-text-main {
	font-weight: 700;

}

.visit-wrap {
	float: right;
	display: table;
	
}

.visit-item {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left: 1px solid #cccccc;
}

.log-wrap {
	padding-right: 22px;
	padding-left: 25px;
}

.sign-wrap {
	padding-right: 15px;
	padding-left: 15px;
}

.call-me {
	position: relative;
	padding-right: 18px;
	padding-left: 54px;
	max-width: 216px;
}

.phone-icon {
	position: absolute;
	left: 28px;
	font-size: 34px;
}

.tel {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #336666;
}

.message-me {
	padding-left: 26px;
}

.btn {
	background: #ff6633;
	border: none;
	box-shadow: none;
	font-size: 14px;
	line-height: 37px;
    padding-right: 18px;
	padding-left: 17px;
	font-weight: 700;
	color: #fff;
}

/* logo header styles */
.header-logo {
	border-bottom: 1px solid #cccccc;
}

.header-logo .center {
	line-height: 86px;
	
}

.logo-first-wrap, .logo-second-wrap {
	display: inline-block;
}
.logo-second-wrap {
	float: right;
}

.logo-first, .logo-second {
	position: relative;
	vertical-align: middle;
}

.logo-first  {
    top: 5px;
    left: -5px;
}

.logo-second {
    top: 3px;
}

/* header nav styles */
.header-nav {
	border-bottom: 1px solid #cccccc;

}

.nav {
	display: table;
	width: 100%;
}

.nav-item {
	display: table-cell;
	border-right: 1px solid #cccccc;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	line-height: 37px;
}

.nav-item:last-child {
	border-right: none;
}

/* search section */
.search-bg {
    background-image: url("../images/coast.jpg");
    min-height: 875px; 
    padding-top: 485px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-form-wrap {
	background: transparent;
	border-radius: 10px;
	-webkit-box-shadow: 0px 4px 44px 0px rgba(40,131,182,1);
	-moz-box-shadow: 0px 4px 44px 0px rgba(40,131,182,1);
	box-shadow: 0px 4px 44px 0px rgba(40,131,182,1);
}

.search-form {
	position: relative;
	width: 100%;
	padding: 30px 40px 30px 36px;
	border-radius: 10px;
	background: #66ccff;
	opacity: 0.8;
	-webkit-box-shadow: inset 0px -5px 0px 0px rgba(40,131,182,1);
	-moz-box-shadow: inset 0px -5px 0px 0px rgba(40,131,182,1);
	box-shadow: inset 0px -5px 0px 0px rgba(40,131,182,1);
}


.search-input-wrap {
	position: relative;
	display: inline-block;
	width: 80%;
	border-radius: 5px;
	background: transparent;
}

.search-input-wrap:before {
	content: "QUICK SEARCH";
	position: absolute;
	left: 0;
	top:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	line-height: 39px;
	color: #fff;
	background: #435061; 
	border: 1px solid #435061;
	border-radius: 5px 0 0 5px;
	width: 135px;
	height: 39px;
	z-index: 2;
}

.search-input {
	position: relative;
	width: 100%;
	height: 41px;
	padding-right: 15px;
	padding-left: 150px;
	border-radius: 5px;
	background: #435061;
	opacity: 0.5;
	border: 1px solid #435061;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
	-webkit-box-shadow: 0px 4px 26px 0px rgba(67,80,97,1);
	-moz-box-shadow: 0px 4px 26px 0px rgba(67,80,97,1);
	box-shadow: 0px 4px 26px 0px rgba(67,80,97,1);
}


.search-form .btn {
	float: right;
	border: 1px solid #858585;
	border-radius: 5px;

	cursor: pointer;
}

::-webkit-input-placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color:#fff;
}
::-moz-placeholder {
	color:#c0392b;
}
:-moz-placeholder {
	color:#c0392b;
}
:-ms-input-placeholder {
	color:#c0392b;
}

/* guide-section styles */

.guide-section {
	padding-top: 110px;
	padding-bottom: 195px;
}

.h2-container {
	position: relative;

}
.h2 {
	font-size: 27px;
	font-weight: 700;
	color: #435061;
	text-align: center;
	text-transform: uppercase;
}

.h2:before {
	content: "";
    position: absolute;
    top: -33px;
    left: calc(50% - 11px);
    width: 22px;
    height: 25px;
    background: url(../images/sprite.png);
    background-position: -37px 0px;
}

.text-info {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	color: #7e8c99;
}

.guide-section .text-info {
	margin: 30px 0 65px;
}

.guide-section .nav-item {
	height: 150px;
	padding-top: 50px;
}

.guide-section .item-name, .guide-section .item-head-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	line-height: 37px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	color: #7e8c99;
}

.guide-section .item-head-name {
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: #435061;
}

.nav-item {
	position: relative;
}
.nav-item-property:before, 
.nav-item-community:before, 
.nav-item-estate:before, 
.nav-item-blog:before, 
.nav-item-about:before,
.nav-item-contact:before {
	content: "";
    position: absolute;
    top: 10px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: url(../images/sprite.png);
}

.nav-item-property:before {
	background-position: 1px -40px;
}

.nav-item-community:before {
	background-position: -192px -40px;
}

.nav-item-estate:before {
	background-position: -386px -40px;
}

.nav-item-blog:before {
	background-position: -583px -40px;
}

.nav-item-about:before {
    background-position: -784px -40px;
}

.nav-item-contact:before {
   	background-position: -973px -40px;
}

/* area section styles */
.area-section {
    height: auto;
    padding-top: 580px;
    background-color: #81b4e3;
    background-image: url(../images/sea-coast.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container-wrap {
    height: 100vh;
    width: 55%;
    padding: 55px 0 100px 38px;
    float: right;
    background: #31a2e1;
    opacity: 0.87;
}

.container{
	width: 682px;
	padding-right: 50px;
}

.h3 {
	font-size: 21px;
	font-weight: 700;
	line-height: 37px;
	text-transform: uppercase;
	color: #fff;
}

.area-section .text-info {
	margin: 30px 0 40px;
	font-size: 14px;
	line-height: 27px;
	text-align: left;
	color: #caecff;
}

.area-section .column {
	display: inline-block;
	width: 245px;
	margin-right: 85px;
}

.area-section .column:last-child {
	margin-right: 0;
}

.link.text-info {
	display: inline-block;
	width: 100%;
	margin: 0;
	line-height: 36px;
	text-align: left;
	color: #fff;
	text-transform: capitalize;
}

.list-item {
	position: relative;
}

.area-section .link:after {
	content: "";
    position: absolute;
    top: calc( 50% - 9px);
    right: 0;
    width: 18px;
    height: 18px;
    background: url(../images/sprite.png);
    background-position: -135px 1px;
}

/*community section styles*/

.community-section {
	padding-top: 110px;
	padding-bottom: 125px;
	background: #eff3f5;
}

.community-section .text-info {
	margin: 30px 0;
}

.info-tabs-wrapper {
  font-size: 0;
  display: table;
  width: 100%;
  height: 50px;
  margin-bottom: 58px; 
}

.info-tab-link {
    display: table-cell;
    background: #fff;
    font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #535f6e;
    vertical-align: middle;
    cursor: pointer; 
}

 .info-tab-link:hover,
 .info-tab-link.active {
    background: #435061;
    color: #fff;
}

.tabcontent {
  display: none; 
}

.tabcontent.active {
  display: block; 
}

.community-section .column {
	display: inline-block;
	width: 555px;
	padding: 0 15px;
	vertical-align: top;
}

.community-section .h3 {
	color: #435061;
}

.community-section .text-info {
	text-align: left;
	margin: 30px 0 50px;
}

.h4-wrap {
	position: relative; 
	padding-left: 85px;
}
.h4 {
	font-size: 16px;
	font-weight: 700;
	line-height: 37px;
	text-transform: uppercase;
	color: #435061;
}

.community-section .h4 + .text-info {
	margin: 8px 0 55px;
	font-size: 15px;
	line-height: 24px;
}

.community-section .h4-wrap:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background-color: #31a2e1;
	background-image: url(../images/sprite.png);
}

.community-section .sheep:before {
	background-position: 8px -116px;
}

.community-section .home:before {
	background-position: -143px -113px;
}

/*community-section slider styles*/

.community-section .bx-wrapper {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    border: 15px solid #fff;
    margin-bottom: 0;
}

.bx-viewport {
    width: 100%;
    overflow: hidden;
    position: relative;
    max-height: 302.75px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #31a2e1;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    bottom: 18px;
}